body{
    background-color: darkgray;
    
}
.square{
    background-color: rgb(215, 233, 227);
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border: solid;
    cursor: pointer;
}
#Div1{
    color: rgb(12, 12, 241);
}
#Div2{
    color:darkcyan;
}
#Div3{
    color: darkgoldenrod;
}